body {
  background-color: royalblue;
  margin: 2rem;
}

h1 {
  color: darkcyan;
  font-size: 5rem;
  background-color: rgb(41, 41, 143);
}

h2 {
  color:whitesmoke;
  font-size: 2rem;
}

p {
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: rgb(41, 41, 143);
  padding: 1rem;
}

li {
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  font-weight: 700;
  color: yellow;
    onHover {
    cursor: pointer;
  }
}